* {
  box-sizing: border-box;
  margin: 0;
}

body {
  background-image: url("./images/background.jpeg");
  background-repeat: repeat-x;
  background-attachment: fixed;
  background-position: left top;
  background-size: cover;
  width: 99vw;
}

.card-grid--container {
  user-select: none;
  width: 99vw;
}

.cards--container {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  align-items: center;
  justify-content: center;
}

.color--checkbox,
.rarity--checkbox {
  font-size: 16px;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  padding: 5px;
  color: white;
  justify-content: center;
}

.rarity--checkbox {
  margin-bottom: 10px;
}

.filter--btn {
  appearance: none;
}

.filter--btn--label {
  border-radius: 5px;
  padding: 3px 15px;
}

.selected {
  background-color: black;
}

.unselected {
  color: black;

  background-color: white;
}

.card--container {
  padding: 0;
  margin: 0;
  width: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card--img {
  width: 100%;
  border-radius: 7px;
}

.card--btn {
  border: none;
  background-color: black;
  color: white;
  border-radius: 5px;
  padding: 5px 12px;
  margin: 1px;
}
