* {
  box-sizing: border-box;
  margin: 0;
}

body {
  background-image: url("./images/background.jpeg");
  background-repeat: repeat-x;
  background-attachment: fixed;
  background-position: left top;
  background-size: cover;
  width: 99vw;
}

.card-grid--container {
  user-select: none;
  width: 99vw;
}

.cards--container {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  align-items: center;
  justify-content: center;
}

.color--checkbox,
.rarity--checkbox {
  font-size: 16px;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  padding: 5px;
  color: white;
  justify-content: center;
}

.rarity--checkbox {
  margin-bottom: 10px;
}

.filter--btn {
  appearance: none;
}

.filter--btn--label {
  border-radius: 5px;
  padding: 3px 15px;
}

.selected {
  background-color: black;
}

.unselected {
  color: black;

  background-color: white;
}

.card--container {
  position: relative;
  padding: 0;
  margin: 0;
  width: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card--img {
  width: 100%;
  border-radius: 7px;
}

.card--btn {
  border: none;
  background-color: black;
  color: white;
  border-radius: 5px;
  padding: 5px 12px;
  margin: 1px;
}

.flip--btn {
  position: absolute;
  margin: 0;
  width: 35%;
  border-radius: 50px;
  background-color: transparent;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  opacity: 0;
}

.flip--btn:hover {
  opacity: 0.8;
}

.flip--icon {
  width: 100%;
  background-color: white;
  padding: 5px;
  border-radius: 50px;
}

.modal--overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.85);
  display: grid;
  place-items: center;
  transition: var(--transition);
  z-index: 100;
}

.rotate {
  rotate: 90deg;
}
